<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
           
    <!-- ðŸ€c50 include, 
      ejs includeëŠ” commentì— ìžˆëŠ” ì½”ë“œë„ ì½ì–´ë²„ë¦¼. 
      ì¡°ì‹¬í•˜ìž
    -->
    <%- include('./nav.html') %>

    <h1 class="title-page">/views/write.ejs  </h1>
   
    <section class="write">
      <!--ðŸ¦„ðŸ¥’ c24-4-1)         
          /add ê²½ë¡œë¡œ, POSTìš”ì²­í•¨ ðŸ‘‰server.js    
          action="/add" method="POST"  

          htmlì—ì„œëŠ”
          GET, POST ìš”ì²­ë§Œ ê°€ëŠ¥í•¨
          PUT, DELETE  ë¶ˆê°€ëŠ¥
      -->
      <!-- action="/add" method="POST" -->
      <form action="/add" method="POST">

          <label>title</label>

          <!--  ðŸ¦„ðŸ¥’c24-4-1) 
            name="ig-title" 
            -->
          <input type="text"  name="ig_title" />

          <br>
          <label>date</label>

            <!--  ðŸ¦„ðŸ¥’ c24-4-1) 
                  name="ig-data" />       
              -->
            <input type="text"  name="ig_data" />

          <br>
          <label>description</label>

          <!--  ðŸ¦„ðŸ¥’ c24-4-1) 
                name="ig_desc" />       
            -->
            <textarea name="ig_desc"  id="" cols="30" rows="10"></textarea>
          

            <br>
          <button type="submit" class="myBtn">Submit</button>
      </form>   
    </section>

  </body>
</html>
